TAGS
*~
*#*#
*.#*
*.o
*.so
.vscode/
.idea/
# test/
build/
vcpkg_installed/
CMakeFiles/
Testing/
flipped.csv
tmp.csv
output.csv
gtest/sample.tif
tmp.csv.dsc
interactive-output/
speckle*
dic-output/
dic-output-cuda/
.envrc.local
my_profile_report.nsys-rep
opencorr-examples/**/*.csv
opencorr-examples/**/*.bin
.vs/**
.vs
fixture_generated/*
*.log
not_in_git/
tmp.json
external1/
.not_in_git/
t.json
t.bin
t.txt
t.html
.mypy_cache
*_local.*
vcpkg_binary_cache/
t.log
t.sql
.config/
testdb/
fixtures/git/receive-request.bin
fixtures/temp_pack_file
temp_pack_file*
CMakeUserPresets.json

.env_local
.env_prod_local
test-results/
.aider*
FullCapture.bin
.cache/*